Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.Â 
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [21]:
lv_tup_ls=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
lv_tup_ls.sort(key=lambda x: x[1])
print(lv_tup_ls)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
#method 1 : usin lambda and map fuctions : map function gives object so LIST is used
lv_ls=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list(map(lambda x : x**2,lv_ls)))

## Method 2 List comprehension , easiest of all ##
ls_sq=[x*x for x in lv_ls]
print(ls_sq)

#method 3 : using for loop and append - traditional
lv_ls=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lv_lsnew=[]
for i in lv_ls:
    lv_lsnew.append(i**2)
print(lv_lsnew)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [9]:
## take a list , pass it to lambda fuction, the puse tuple over map as map gives object 
lv_ls=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda x : str(x) ,lv_ls))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25

In [8]:
## geeration of list using for loop & range function 
lv_ls=[]
for i in range(1,26):
    lv_ls.append(i)
print(lv_ls)
print(type(lv_ls))
##using reduce now 
from functools import reduce  ## this is 
reduce(lambda x,y : x*y , lv_ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
<class 'list'>

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function. [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [22]:
## I am unable to uderstand language, whether its number should be divisible by 2 and 3 both 
## listing only those elements which are divisible by BOTH 2 and 3
lv_ls=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x: x%2==0 and x%3==0 ,lv_ls))

# Method 2 = numbers which are divisible by both 2 and 3 will be divisible by 6, directly implementing divisibility by 6 condition
lv_ls1=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x: x%6==0 ,lv_ls1))

## Method 3 - if question says that numbers divisible by 2 or 3
lv_ls2=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x: x%2==0 or x%3==0 ,lv_ls2))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [24]:
## a palindrome spelling will remain same if its reversed so filtered only those who have such quality
ls=['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x:  x==x[::-1],ls))

['php', 'aba', 'radar', 'level']