### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd
ls=[4,8,15,16,23,42]  ## creating a list to pass it to series
lv_pd_Ser=pd.Series(ls) ## printing series 
print(type(lv_pd_Ser))
print(lv_pd_Ser)

<class 'pandas.core.series.Series'>
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
### variable print it.

In [3]:
import pandas as pd
ls=[x for x in range(10)]  ## list variable 
print(pd.Series(ls))  ## printing series 
print(type(ls))
print(type(pd.Series(ls)))  ## this is printing series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
<class 'list'>
<class 'pandas.core.series.Series'>

### Q3. Create a Pandas DataFrame that contains the following data:
### Then, print the DataFrame. 
### Name:"Alice","Bob","Claire"
### Age:25,30,27
### Gender:"Female","Male","Female"

In [6]:
import pandas as pd
lv_data={"Name":["Alice","Bob","Claire"],
         "Age":[25,30,27],
         "Gender":["Female","Male","Female"]
}
lv_pd_df=pd.DataFrame(lv_data)
print(lv_pd_df)
print(type(lv_pd_df))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
<class 'pandas.core.frame.DataFrame'>

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [9]:
## 1-series     - ONE dimensional labeled arrays series. This will have indexes for rows.
## note - indexes can be custom LABELED instead of 0,1,2,3,5,6,7,8,9..........
## multiple series can be input to get a dataframe using a DataFrame.
## dataframe variable if indexed on one column gives series.
    
try:
    ## series type data structure WITH DICTIOARY AS INPUT 
    lv_dic={"Sub":["Maths","Physics","Chemistry"],
            "Total":[100,100,100],
            "MarksScored":[96,92,92]
         }
    import pandas as pd
    print(type(pd.Series(lv_dic)))
    print(pd.Series(lv_dic))
    print()
except Exception as e:
    print(e)
    
## 2- dataframe - TWO DIMESIONAL data - like table. This will have index for rows as well as columns. 
## note - indexes can be custom LABELED instead of 0,1,2,3,5,6,7,8,9..........
## multiple series can be added to get a dataframe.
## dataframe variable if indexed on one column gives series.

import pandas as pd
try:
    lv_ser_dic={"Sub":pd.Series(["Maths","Physics","Chemistry"]),
            "Total":pd.Series([100,100,100]),
            "MarksScored":pd.Series([96,92,92])
                         }
    print(pd.DataFrame(lv_ser_dic))
    print(type(pd.DataFrame(lv_ser_dic)))
except Exception as e:
    print(e)

<class 'pandas.core.series.Series'>
Sub            [Maths, Physics, Chemistry]
Total                      [100, 100, 100]
MarksScored                   [96, 92, 92]
dtype: object

         Sub  Total  MarksScored
0      Maths    100           96
1    Physics    100           92
2  Chemistry    100           92
<class 'pandas.core.frame.DataFrame'>

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
### you give an example of when you might use one of these functions?

In [ ]:
##Couple of such functions are insert, drop , others also exist for  null values - 

#### inserting a column (with a specific column name & at a desired column index)
lv_pd_df.insert(1, "new", [100,200], allow_duplicates = False)  ## 1 is index of column at which place column need to be inserted
print(lv_pd_df)

lv_pd_f_n=lv_pd_df.drop("new",axis=1)  ## 1 is axis for column 
print(lv_pd_f_n)

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
## All pandas data structures are value-mutable (the values they contain can be altered) but not always size-mutable. 
## The length of a Series cannot be changed, but, for example, columns can be inserted into a DataFrame.

## few exampels below 

## series is mutable
import pandas as pd
lv_pd_ser=pd.Series([12])
print(lv_pd_ser)
print()
lv_pd_ser[0]=9
print()
print(lv_pd_ser)

## DataFrame is mutable
##lv_pd_df=pd.DataFrame([12,16])  ## if one list is provided then it treates it as one column with multiple rows 
lv_pd_df=pd.DataFrame([[4,8],[12,16]])
print("DataFrame is",lv_pd_df)
print()
lv_pd_df[1][1]=9   ## here first index is first column , 
print()
print(lv_pd_df)

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
### here series is passed as input for each value of key
import pandas as pd
try:
    lv_ser_dic={"Sub":pd.Series(["Maths","Physics","Chemistry"]),
            "Total":pd.Series([100,100,100]),
            "MarksScored":pd.Series([96,92,92])
                         }
    print(pd.DataFrame(lv_ser_dic))
    print(type(pd.DataFrame(lv_ser_dic)))
except Exception as e:
    print(e)

         Sub  Total  MarksScored
0      Maths    100           96
1    Physics    100           92
2  Chemistry    100           92
<class 'pandas.core.frame.DataFrame'>