Q6 - Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [1]:
for i in range(25) :
    if i%3==0: print("Number is divisible by 3:", i)
    else: print("Number is NOT divisible by 3:--", i)
else:
    print("Program completed")

Number is divisible by 3: 0
Number is NOT divisible by 3:-- 1
Number is NOT divisible by 3:-- 2
Number is divisible by 3: 3
Number is NOT divisible by 3:-- 4
Number is NOT divisible by 3:-- 5
Number is divisible by 3: 6
Number is NOT divisible by 3:-- 7
Number is NOT divisible by 3:-- 8
Number is divisible by 3: 9
Number is NOT divisible by 3:-- 10
Number is NOT divisible by 3:-- 11
Number is divisible by 3: 12
Number is NOT divisible by 3:-- 13
Number is NOT divisible by 3:-- 14
Number is divisible by 3: 15
Number is NOT divisible by 3:-- 16
Number is NOT divisible by 3:-- 17
Number is divisible by 3: 18
Number is NOT divisible by 3:-- 19
Number is NOT divisible by 3:-- 20
Number is divisible by 3: 21
Number is NOT divisible by 3:-- 22
Number is NOT divisible by 3:-- 23
Number is divisible by 3: 24
Program completed

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [5]:
lv_dvd=int(input("Enter the dividend"))
lv_dvsr=int(input("Enter the divisor"))
i=0
while lv_dvd >= lv_dvsr :
    if lv_dvd%lv_dvsr==0 : print(str(lv_dvd)+" is completely divisible by "+str(lv_dvsr))
    else : print(str(lv_dvd)+" is NOT completely divisible by "+str(lv_dvsr))
    lv_dvd-=lv_dvsr
    i+=1
    if lv_dvd>lv_dvsr: pass
    else: print("quotient is ", i)
else: print("program completed")

Enter the dividend 24
Enter the divisor 6

24 is completely divisible by 6
18 is completely divisible by 6
12 is completely divisible by 6
quotient is  3
6 is completely divisible by 6
quotient is  4
program completed

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [8]:
lv_list=[1,2,3,'a',"stri",[1,2,3],9.0,True,(4,5,6)   ]
for i in lv_list:
    print("element is ", i)
    print("Type is", type(i))
else: print("program is completed")

element is  1
Type is <class 'int'>
element is  2
Type is <class 'int'>
element is  3
Type is <class 'int'>
element is  a
Type is <class 'str'>
element is  stri
Type is <class 'str'>
element is  [1, 2, 3]
Type is <class 'list'>
element is  9.0
Type is <class 'float'>
element is  True
Type is <class 'bool'>
element is  (4, 5, 6)
Type is <class 'tuple'>
program is completed

Q3. Explain the use of the following operators using an example:
(i)	/  
(ii)	% 
(iii)	//
(iv)	**

In [9]:
25/6

4.166666666666667

In [10]:
25%6

1

In [11]:
25//6

4

In [12]:
2**6

64

Q2. Given are some following variables containing data:
(i)var1=' '
(ii)var2 = ‘[ DS , ML , Python]’
(iii)var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv)var4 = 1.
What will be the data type of the above given variable

In [16]:
var1=' '
type(var1)

str

In [19]:
var2='[ DS , ML , Python]'
type(var2)

str

In [21]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [22]:
var4 = 1
type(var4)

int

Q1. Create one variable containing following type of data:
(i)	string
(ii)	list
(iii)	float
(iv)	tuple

In [23]:
var_str=" this is \
pw class"
print(var_str)
type(var_str)

 this is pw class

str

In [24]:
var_list=[1,2,'a']
print(var_list)
type(var_list)

[1, 2, 'a']

list

In [25]:
var_float=9.0
print(var_float)
type(var_float)

9.0

float

In [26]:
var_tuple=(9.0,3)
print(var_tuple)
type(var_tuple)

(9.0, 3)

tuple

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

In [27]:
'''Answer - Immutable objects such as int, float and str, 
mutable objects such as list and dict

Immutable - Immutable objects cannot be modified once they are created. Operations like 
appending new elements, removing elements, or modifying 
elements are not applicable to immutable objects. Instead, these operations create new objects.
example -''' 
lv_str3="""i am a boy \
who is working hard \
to reach heights 
"""
print(lv_str3)
lv_str3[-1]=''
print(lv_str3)

i am a boy who is working hard to reach heights

TypeError: 'str' object does not support item assignment

In [28]:
'''
Mutable - They can be modified after assination.
example - 
'''
ls_test=['abc','def','ghi','jkl']
print(ls_test[:]) or print(ls_test)
ls_test[1]='xyz'
print(ls_test)

['abc', 'def', 'ghi', 'jkl']
['abc', 'def', 'ghi', 'jkl']
['abc', 'xyz', 'ghi', 'jkl']